@font-face {
    font-family: 'Gilroy';
    src: url('fonts/gilroylight.eot');
    src: local('Gilroy'), local('Gilroy'), 
         url('fonts/gilroylight.eot?#iefix') format('embedded-opentype'),
         url('fonts/gilroylight.woff') format('woff'),
		 url('fonts/gilroylight.woff2') format('woff2'),
         url('fonts/gilroylight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/gilroyextrabold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'), 
         url('fonts/gilroyextrabold.eot?#iefix') format('embedded-opentype'),
         url('fonts/gilroyextrabold.woff') format('woff'),
		 url('fonts/gilroyextrabold.woff2') format('woff2'),
         url('fonts/gilroyextrabold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body { 
	margin: 0;
	padding: 0;
	
	font-size: 15px;
	font-family: "Open Sans", Arial, sans-serif;
	text-align: left;
	letter-spacing: 0.01em; 
	line-height: 1.2;
	color: black;
}

a { 
	text-decoration: none; 
}

html { 
	box-sizing: border-box; 
}

*, *::before, *::after { 
	box-sizing: inherit; 
}

.wrapper {
	width: 1200px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: auto; 
	margin-left:  auto;
}

.header { 
	padding: 33px 60px 163px 60px;
	max-width: 1200px;
	position: relative;
	background-color: #f7e296;
	margin-top: 21px;
}

.user-navigation-top {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 29px;
}

.search-form {
	display: flex;
	width: 440px;
	background-image: url('../img/search.svg');
    background-position: 5px 18px; 
    background-repeat: no-repeat;
}

.search-input {
	background-color: #f7e296;
	border: 0;
	border-bottom: 2px solid #f7e296;
	opacity: 0.3;
	padding-left: 40px;
	flex-grow: 1;
	background-image: url('../img/search.svg');
    background-position: 5px 18px; 
    background-repeat: no-repeat;
}

button.search-button {
	border: 2px solid black;
	background: 0;
	background-color: #f7e296;
	width: 85px;
	height: 50px;
	visibility: hidden; 
	text-align: center;
}

.search-input:hover {
	opacity: 0.6;
}

.search-input:focus {
	opacity: 1;
	outline: 0;
	border-bottom: 2px solid black;
}

.search-input:focus + .search-button,
.search-button:active {
	visibility: visible ;
}

.search-button:hover {
	background-color: black;
	color: white;
}

.search-button:active {
	color: rgba(255,255,255,0.6);
	outline: 0;
}

.user-navigation-top a {
	text-decoration: none;
	position: relative;
}

.user-navigation-top a:nth-child(2){
	margin-left: 95px;
	padding-left: 32px;
}

.user-navigation-top a:nth-child(3){
	margin-left: 20px;
}

.user-navigation-top a:nth-last-child(2){
	margin-right: 40px;
	margin-left: auto;
	padding-left: 25px;
}

.user-navigation-top a:last-child {
	padding-left: 25px;
	letter-spacing: 0em;
}

.user-navigation-top a:nth-child(2)::before{
	content: '';
	position: absolute;
	background-image: url('../img/user.svg');
	background-repeat: no-repeat;
	height: 12px;
	width: 13px;
	left: 5px;
	top: 50%;
	transform: translateY(-50%);
}

.user-navigation-top a:nth-last-child(1)::before{
	content: '';
	position: absolute;
	background-image: url('../img/cart.svg');
	background-repeat: no-repeat;
	height: 12px;
	width: 12px;
	left: 3px;
	top: 50%;
	transform: translateY(-50%);
}

.user-navigation-top a:nth-last-child(2)::before{
	content: '';
	position: absolute;
	background-image: url('../img/compare.svg');
	background-repeat: no-repeat;
	height: 12px;
	width: 12px;
	left: 5px;
	top: 55%;
	transform: translateY(-50%);
}

.site-navigation-top {
	display: flex; 
	justify-content: space-between;
	max-width: 1060px;
	position: relative;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.site-navigation-top > li:nth-last-child(1) {
	text-align: right;
	margin-right: -4px;
}

.site-navigation-top > li:nth-last-child(2) {
	 margin-right: 109px; 
}

.site-navigation-top > li:nth-last-child(3) {
	 margin-right: 34px; 
	 margin-left: auto;
}

.site-navigation-top a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.hover-catalog {
	display: none;
	position: absolute;
	width: 1160px;
	z-index: 10;
	background-color: #f7e296;
	left: -60px;
	padding-left: 60px;
	padding-bottom: 35px;
	padding-top: 0px;
} 

.catalog-menu-parent:hover ~ .hover-catalog,
.hover-catalog:hover {
	display: flex; 
	justify-content: flex-start;
}

.catalog-menu-parent {
	position: relative;
	min-width: 240px;
	display: inline-block;
	vertical-align: middle;
	padding-right: 27px;
}

.catalog-menu-parent::before{
	content: '';
	position: absolute;
	background-image: url('../img/plus.svg');
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0.3;
}

.catalog-menu {
	display: flex; 
	flex-flow: column; 
	align-items: flex-start; 
	justify-content: flex-start;
	margin-right: 20px;
	width: 200px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.catalog-menu:first-child {
	width: 240px;
}

.catalog-menu li {
	width: 200px;
}


.top-logo {
	font-size: 48px;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	line-height: 48px;
	letter-spacing: 0.015em;
	position: absolute;
	top: -24px;
	left: 57px;
	z-index: 5;
	color: black;
}

.user-navigation-top * {
	font-size: 15px;
	font-family: "Open Sans", Arial, sans-serif;
	text-align: left;
	letter-spacing: 0.01em;
	line-height: 30px;
	color: black;
	font-weight: 300;
}

.site-navigation-top a {
	font-size: 18px;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 24px;
	color: black;
	letter-spacing: 0.2em;
}

.hover-catalog a {
	letter-spacing: 0em;
	font-size: 15px;
	font-family: "Open Sans", Arial, sans-serif;
	text-align: left;
	text-transform: none;
	font-weight: normal;
	line-height: 36px;
}

.catalog-menu li {
	margin-top: 0px;
}

.catalog-menu li:first-child {
	margin-top: 20px;
}

.header a:hover {
	opacity: 0.6;
}

.header a:active {
	opacity: 0.3;
}

main {
	position: relative;
}

section.slide {
	margin-top: -163px;
	padding-top: 45px;
	position: relative;
}

.slide-wrapper-out{
	overflow: hidden;
	min-height: 500px;
	position: relative;
}

.slide-wrapper-in {
	width: 300%;
    transition: transform 0.4s ease;
	display: flex;
}

.slide-content {
	flex-grow: 1;
	width: 1160px;
}

.slide input[type=radio] {
	display: none;
}

.slide-control {
	display: flex;
	justify-content: space-between;
	width: 85px;
	position: absolute;
	bottom: 155px;
	right: 80px;
}

.slide-control label {
    display: inline-block;
	vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 1px black;
    transition: background-color 0.2s;
    cursor: pointer;
	position: relative;
	z-index: 2;
}

.slide_btn:nth-child(1):checked ~ .slide-wrapper-out label[for="slide-1"],
.slide_btn:nth-child(2):checked ~ .slide-wrapper-out label[for="slide-2"],
.slide_btn:nth-child(3):checked ~ .slide-wrapper-out label[for="slide-3"] {
    background-color: black;
}

.slide_btn:nth-child(1):checked ~ .slide-wrapper-out label[for="slide-1"]::after,
.slide_btn:nth-child(2):checked ~ .slide-wrapper-out label[for="slide-2"]::after,
.slide_btn:nth-child(3):checked ~ .slide-wrapper-out label[for="slide-3"]::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 3px;
    background-color: white;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.slide_btn:nth-child(1):checked ~ .slide-wrapper-out .slide-wrapper-in {
    transform: translate(0);
}

.slide_btn:nth-child(2):checked ~ .slide-wrapper-out .slide-wrapper-in {
    transform: translate(-1160px);
}

.slide_btn:nth-child(3):checked ~ .slide-wrapper-out .slide-wrapper-in {
    transform: translate(-2320px);
}

.slide-about {
	display: flex; 
	flex-flow: column; 
	padding-right: 20px;
	padding-left: 53px;
	justify-content: space-between;
	padding-top: 20px;
}

.slide-content {
	display: flex;
	align-content: flex-start;
	justify-content: flex-end;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	min-height: 500px;
}

.slide-content::before {
	content: '';
	position: absolute;
	background-color: white;
	height: 7px;
	width: 100px;
	top: 44px;
	left: 600px;
	z-index: -1;
}

.slide-content::after {
	font-size: 180px;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	text-align: right;
	letter-spacing: 0.01em;
	position: absolute;
	color: white;
	top: -24px;
	right: 47px;
	z-index: -1;
}

.slide-content:nth-child(1)::after {
	content: '01';
}

.slide-content:nth-child(2)::after {
	content: '02';
}

.slide-content:nth-child(3)::after {
	content: '03';
}

.slide-img {
	width: 47%;
}

.slide-about {
	width: 53%;
}

.slide-img {
	display: flex;
	align-items: center;
}

.slide-img  > * {
	margin-left: auto;
	margin-right: auto;
}

.slider .interactive {
	min-width: 220px;
	max-width: 70%;
	align-self: flex-start;
	margin-top: auto;
	margin-bottom: 48px;
}

.slider-table { 
	margin-bottom: 14px;
}

.slider-table tbody {
	display: flex; 
	flex-flow: 
	column-reverse; 
	flex-grow: 1
}

.slider-table tr {
	display:flex;
}

.slider-table td,
.slider-table th { 
	min-width: 150px; 
	padding: 0;
}

.slider-table td:nth-child(2),
.slider-table th:nth-child(2){
	padding-left: 7px;
}

.slider-table td {
	padding-bottom: 5px;
}

.slide-about .tagline {
	font-size: 47px;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	text-align: left;
	letter-spacing: 0.01em;
	margin-top: 67px;
	line-height: 56px;
}

.slide-about p {
	font-size: 15px;
	font-family: "Open Sans", Arial, sans-serif;
	color: black;
	line-height: 30px;
	text-align: left;
	letter-spacing: 0.01em;
	margin: 0;
	margin-top: 18px;
	padding-right: 30px;
	font-weight: 300;
}

.slide-content td {
	font-size: 36px;
	font-family: "Gilroy", Arial, sans-serif;
	text-align: left;
	letter-spacing: 0.01em;
	line-height: 48px;
}

.slide-content th{
	font-size: 13px;
	font-family: "Open Sans", Arial, sans-serif;
	color: black;
	line-height: 20px;
	text-align: left;
	font-weight: 300;
	letter-spacing: 0.01em;
}

.popular-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}

.popular-img {
	width: 160px;
	margin: 0px;
}

.popular-img-wrapper {
	background-color: #f7e296;
	width: 160px;
	height: 160px; 
	display: flex;
	margin: 0px;
	padding: 0px;
	justify-content: center;
	align-items: center;
}

.popular-img-caption {
	font-size: 18px;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	text-align: left;
	line-height: 24px;
	letter-spacing: 0.01em;
	margin-top: 32px;
	color: black;
}

.popular-img:hover .popular-img-wrapper{
	background-color: #f0c52e;
}

.popular-img:active img,
.popular-img:active .popular-img-caption
{
	opacity: 0.3;
}

.popular-item:nth-child(1) img{
	width: 97px;
	height: auto;
}

.popular-item:nth-child(2) img{
	width: 86px;
	height: auto;
	margin-top: 37px;
}

.popular-item:nth-child(3) img{
	width: 71px;
	height: auto;
	margin-left: 10px;
}

.popular-item:nth-child(4) img{
	width: 107px;
	height: auto;
	margin-left: 3px;
}

.popular-item:nth-child(5) img{
	width: 56px;
	height: auto;
	margin-left: 5px;
}

.popular-item:nth-child(6) img{
	width: 132px;
	height: auto;
}

.service {
	position: relative;
	background-color: #e5e5e5;
}

.service::before {
	content: '';
	position: absolute;
	background-color: white;
	height: 180px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}

.service .wrapper {
	display: flex;
	min-height: 400px;
}

.service-wrapper-out{
	overflow: hidden;
	width: 860px;
}
.service-wrapper-in {
	width: 300%;
    transition: transform 0s ease;
}
.service-content {
	float: left; 
	width: 860px;
}

.service .services-slide-btn {
	display: none;
}

.services-slide-btn:nth-child(1):checked ~ .service-menu-control .interactive:nth-child(1),
.services-slide-btn:nth-child(2):checked ~ .service-menu-control .interactive:nth-child(2),
.services-slide-btn:nth-child(3):checked ~ .service-menu-control .interactive:nth-child(3){
    width: 100%;
	padding-right: 125px;
	color: #f7e184;
}

.services-slide-btn:nth-child(1):checked ~ .service-menu-control .interactive:nth-child(1)::before,
.services-slide-btn:nth-child(2):checked ~ .service-menu-control .interactive:nth-child(2)::before,
.services-slide-btn:nth-child(3):checked ~ .service-menu-control .interactive:nth-child(3)::before {
    height: 100%;
	background-color: black;
}

.services-slide-btn:nth-of-type(1):checked ~ .service-wrapper-out .service-wrapper-in {
    transform: translate(0);
}

.services-slide-btn:nth-of-type(2):checked ~ .service-wrapper-out .service-wrapper-in {
    transform: translate(-860px);
}

.services-slide-btn:nth-of-type(3):checked ~ .service-wrapper-out .service-wrapper-in {
    transform: translate(-1720px);
}

.service-menu-control {
	display: flex; 
	flex-flow: column; 
	width: 284px; 
	align-items: flex-start;
	margin-top: 80px;
	padding-top: 60px;
	margin-bottom: 68px;
	border-right: 7px solid rgba(0, 0, 0, 1.00);
	z-index: 2;
}

.service-menu-control label {
	width: 160px; 
	max-width: 100%;
	text-align: center; 
	margin-bottom: 24px
}

.service-menu-control label:first-child {
	margin-top: 20px;
}

.service-content {
	padding-left: 116px;
	position: relative;
}

.service-content h2 {
	margin-top: 155px;
	font-size: 47px;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	margin-bottom: 30px;
	letter-spacing: 0.02em;
	line-height: 47px;
}

.service-content p {
	margin-bottom: 146px;
	color: black;
	margin-top: 0px;
	font-size: 15px;
	font-family: "Open Sans", Arial, sans-serif;
	line-height: 30px;
	max-width: 440px;
	letter-spacing: 0.01em;
	font-weight: 300;
}

.service-content:nth-child(1)::before {
	background-image: url('../img/delivery.svg');
	background-repeat: no-repeat;
	position: absolute;
	content: '';
	width: 200px;
	height: 200px;
	z-index: 10;
	right: -13px;
	top: 165px;
}

.service-content:nth-child(2)::before {
	background-image: url('../img/warranty.svg');
	background-repeat: no-repeat;
	position: absolute;
	content: '';
	width: 200px;
	height: 200px;
	z-index: 10;
	right: -13px;
	top: 140px;
}

.service-content:nth-child(3)::before {
	background-image: url('../img/credit.svg');
	background-repeat: no-repeat;
	position: absolute;
	content: '';
	width: 200px;
	height: 200px;
	z-index: 10;
	right: -13px;
	top: 140px;
}

.brand-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex; 
	justify-content: space-between;
	padding-top: 94px;
	margin-bottom: 95px;
}

.brand-logo {
	display: block;
	height: 100px;
	width: 260px;
	position: relative;
}

.brand-link img:first-child {
	position: absolute;
	z-index: 10;
}

.brand-link:hover img:first-child {
	z-index: -1;
}

.more-info {
	display: flex; 
	justify-content: space-between;
	margin-bottom: 81px;
}

.more-info h2 {
	font-size: 47px;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	letter-spacing: 0.01em;
	line-height: 48px;
	margin: 52px 0 42px 0;
}

.more-info  > *::before {
	content: '';
	position: absolute;
	background-color: black;
	height: 7px;
	width: 80px;
	top: 0px;
	left: 0px;
	z-index: -1;
}

.about-us {
	display: flex; 
	flex-flow: column; 
	justify-content: space-between;
	position: relative;
	width: 48.2%;
}
.contacts {
	display: flex; 
	flex-flow: column; 
	justify-content: space-between;
	position: relative;
	width: 48.3%; 
}

.about-us p {
	font-size: 15px;
	font-family: "Open Sans", Arial, sans-serif;
	color: black;
	line-height: 30px;
	max-width: 478px;
	letter-spacing: 0em;
	font-weight: 300;
	margin: 0;
	margin-bottom: 15px;
}

.contacts p {
	font-size: 15px;
	font-family: "Open Sans", Arial, sans-serif;
	color: black;
	line-height: 30px;
	max-width: 550px;
	letter-spacing: 0em;
	font-weight: 300;
	margin: 0;
	margin-bottom: 10px;
	margin-top: -21px;
}

.transport-comp {
	list-style: none;
	font-size: 16px;
	line-height: 40px;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	margin: 0;
	margin-left: 0;
	margin-top: 52px;
	letter-spacing: 0;
	padding-left: 35px;
}

.transport-comp li {
	position: relative;
}

.transport-comp li::before {
	content: '';
	position: absolute;
	left: -35px;
	top: 17px;
	border-radius: 50%;
	height: 8px;
	width: 8px;
	border: 2px solid #e5e5e5;
}

.more-info.wrapper a:last-child {
	margin-top: 52px;
	align-self: flex-start;
}

.footer {
	position: relative;
	background-color: #464646;
	padding-top: 55px;
}

.footer .wrapper {
	position: relative;
}

.footer .wrapper::before {
	content: '';
	position: absolute;
	background-color: #ffc600;
	height: 7px;
	width: 80px;
	bottom: 84px;
	left: 20px;
	z-index: 1;
}

.footer a:not(.user-navigation-bot-link):hover {
	opacity: 0.6;
}

.footer a:not(.user-navigation-bot-link):active {
	opacity: 0.3;
}

.user-navigation-bot {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-between;
}

.user-navigation-bot a:nth-child(n+2) {
	margin-top: 15px;
	margin-right: 43px;
	position: relative;
	padding-left: 20px;
}

.user-navigation-bot a:nth-child(1){
	margin-right: auto;
}

/*.user-navigation-bot a:nth-child(2)::before{
	content: '';
	position: absolute;
	-webkit-mask: url('../img/user.svg') no-repeat 100% 100%;
	mask: url('../img/user.svg') no-repeat 100% 100%;
	background-color: #ffc600;
	height: 12px;
	width: 12px;
	left: -20px;
	top: 50%;
	transform: translateY(-50%);
}*/

.user-navigation-bot a:nth-child(2)::after {
	content: '';
	background-image: url('../img/user2.svg');
	/*background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="13px" height="12px"><path d="M.032 12h12.937c-.163-2.643-2.074-4.837-4.671-5.543a3.47 3.47 0 0 0 1.687-2.972 3.485 3.485 0 0 0-6.97 0c0 1.264.68 2.361 1.688 2.972C2.106 7.163.194 9.357.032 12z" fill="#ffc600"/></svg>');*/
	background-repeat:	no-repeat;
	position: absolute;
	background-size: 12px 12px;
	height: 12px;
	width: 12px;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
}

.user-navigation-bot a:nth-last-child(1)::after{
	content: '';
	position: absolute;
	background-image: url('../img/cart2.svg');
	background-repeat:	no-repeat;
	background-size: 12px 12px;
	height: 12px;
	width: 12px;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
}

.user-navigation-bot a:nth-last-child(2)::after{
	content: '';
	position: absolute;
	background-image: url('../img/compare2.svg');
	background-repeat:	no-repeat;
	background-size: 12px 12px;
	height: 12px;
	width: 12px;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
}

.user-navigation-bot a:last-child{
	text-align: right;
	margin-right: 0;
}

.user-navigation-bot-link {
	font-weight: 300;
}

.user-navigation-bot-link span{
	opacity: 0.7;
}

.user-navigation-bot-link::after {
	opacity: 1;
}

.user-navigation-bot-link:hover span{
	opacity: 1;
}

.user-navigation-bot-link:hover::after {
	opacity: 0.6;
}

.user-navigation-bot-link:active span,
.user-navigation-bot-link span:active  {
	opacity: 0.3;
}

.user-navigation-bot-link:active::after,
.user-navigation-bot-link span:active ~ ::after {
	opacity: 0.3;
}

.footer-second-row {
	display: flex; 
	justify-content: space-between;
}

.footer-second-row > *:first-child {
	min-width: 250px;
}
.footer-second-row > *:last-child {
	min-width: 250px;
}

.footer-second-row p{
	color: white;
	font-size: 15px;
	font-family: "Open Sans", Arial, sans-serif;
	letter-spacing: 0;
	line-height: 30px;
	margin-top: 18px;
	margin-bottom: 0px;
	font-weight: 300;
}

.site-navigation-bot {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex; 
	justify-content: center;
	align-items: flex-end;
}
.site-navigation-bot a{
	font-size: 18px;
	font-family: "Gilroy", Arial, sans-serif;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	line-height: 24px;
}

.site-navigation-bot li {
	margin: 0 17px 0 16px;
}

.footer-third-row {
	display: flex; 
	justify-content: space-between;
	padding-bottom: 66px;
	margin-top: 65px;
}

.social{
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex; 
	justify-content:center;
	margin-left: 483px;
}

.social-button {
	margin: 0 27px;
	position: relative;
}

.social .social-button {
	opacity: 0.3;
}

.social .social-button:hover {
	opacity: 0.6;
}

.social a.social-button:active {
	opacity: 0.1;
}

li:nth-child(1) .social-button::before {
	background-image: url('../img/fb.svg');
	background-position: center center;

	position: absolute;
	content: '';
	width: 32px;
	height: 32px;
	z-index: 10;
	left: 0;
}

li:nth-child(2) .social-button::before {
	background-image: url('../img/instagram.svg');
	background-position: center center;

	position: absolute;
	content: '';
	width: 32px;
	height: 32px;
	z-index: 10;
	left: 0;
}

li:nth-child(3) .social-button::before {
	background-image: url('../img/twitter.svg');
	background-position: center center;
	position: absolute;

	content: '';
	width: 32px;
	height: 32px;
	z-index: 10;
	left: 0;
}

.html-academy {
	text-align: right;
}

.html-academy:before {
/*IE No click hack by covering the element.*/
	display: block;
	position: absolute;
	height: 34px;
	width: 27px;
	content: '';
}

.phone {
	text-align: right;
}

.user-navigation-bot a{
	color: white;
}

a.bot-logo {
	font-size: 48px;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	color: #ffc600;
	letter-spacing: 0.01em;
}

.interactive {
	border: 0;
	background: 0;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	line-height: 24px;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	letter-spacing: 0.2em;
	position: relative;
	z-index: 1; 
	color: black;
	padding: 9px;
	cursor: pointer;
}

.interactive::before{
	content: '';
	position: absolute;
	background-color: #f0c52e;
	top: 50%;
    transform:translateY(-50%);   
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #f0c52e;
    z-index: -1;
    transition: .3s linear;
}

.more-info .interactive {
	min-width: 260px;
	max-width: 80%;
}

.interactive:hover::before  {
	height: 100%;
}

.interactive:active  {
	color: rgba(0, 0, 0, 0.3);
}

.map-poppup {
	cursor: pointer;
	width: 560px;
	height: 222px;
	margin-top: 15px;
}

.modal-map {
	margin-right: auto; 
	margin-left:  auto;
	width: 960px;
	height: 560px;
	position: absolute;
	margin-left: -480px;
}

.modal-map img{
	z-index: -1;
	position: absolute;
}

.modal-write-us {
	margin-right: auto; 
	margin-left:  auto;
	background-color: white;
	width: 960px;
	min-height: 553px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding: 100px;
	position: relative;
	margin-left: -480px;
}

.name-and-mail {
	display: flex;
	justify-content: space-between;
}

.name-input {
	padding-right: 40px;
}

.name-input p,
.mail-input p ,
.comment-input p{
	display: flex;
	width: 100%;
}

.name-and-mail > *{
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	flex-grow: 1;
}

.modal-write-us label {
	font-size: 18px;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 24px;
}

.modal-write-us input,
.modal-write-us textarea{
	background-color: #f2f2f2;
	border: 0;
	flex-grow: 1;
	padding: 20px;
	font-size: 14px;
	font-family: "Open Sans", Arial, sans-serif;
	line-height: 18px;
	letter-spacing: 0;
	font-weight: 700;
}

.modal-write-us textarea {
	min-height: 156px;
	resize: none;
}

.modal-write-us input:valid {
	background-color: #f2f2f2;
}

.modal-write-us input:invalid,
.modal-write-us input.modal-invalid {
	background-color: #f6dada;
}

.modal-write-us input:hover,
.modal-write-us textarea:hover {
	background-color: #eaeaea;
}

.modal-write-us input:focus,
.modal-write-us textarea:focus{
	background-color: white;
	outline: 3px solid #f7e296;
}


.modal-write-us .interactive {
	min-width: 200px;
	max-width: 80%;
}

.modal-close {
	background: 0;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	right: 10px;
	background-image: url('../img/modal-close.svg');
	width: 55px;
	height: 55px;
	opacity: 0.5;
	border: 0;
	outline: 0;
}

.modal-close:hover {
	opacity: 1;
}

.modal-close:active {
	opacity: 0.3;
}

.overview {
	background-color: white;
	/*margin-top: 48px;*/
	margin-top: -115px;
}

.catalog-name {
	font-size: 47px;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	margin-bottom: 25px;
	margin-top: 37px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 60px;
	letter-spacing: 0.01em;
	line-height: 48px;
}

.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	margin-bottom: 45px;
	font-weight: 300;
}

.breadcrumbs-item {
	margin-left: 37px;
	position: relative;
}

.breadcrumbs-item:first-child {
	margin-left: 60px;
}

.breadcrumbs-item:not(:first-child)::before {
	content: '';
	background-image: url('../img/nav-arrow.svg');
	background-repeat: no-repeat;
	position: absolute;
	top: 60%;
	transform: translateY(-50%);
	left: -20px;
	height: 50%;
	width: 10%
}

.breadcrumbs a {
	font-size: 14px;
	font-family: "Open Sans", Arial, sans-serif;
	color: black;
	letter-spacing: 0.01em;
	opacity: 0.3;
	line-height: 24px;
}

.breadcrumbs a:hover {
	opacity: 0.6;
}

.breadcrumbs a:active {
	opacity: 0.1;
}

.filter-and-sort {
	display: flex;
	min-height: 70px;
}

.background-left-top {
	flex-grow: 1;
	background-color: #dcdcdc;
	display: flex;
	justify-content: flex-end;
	min-height: 70px;
}

.background-right-top  {
	flex-grow: 1;
	background-color: #efefef;
	display: flex;
	justify-content: flex-start;
	min-height: 70px;
}

.filter-name {
	text-align: left;
	width: 330px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 23px;
	padding-left: 60px;
	padding-right: 70px;
}

.sort-name {
	text-align: left;
	width: 200px;
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 16px;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	line-height: 24px;
}

.sort {
	width: 830px;
	display: flex;
	padding-top: 23px;
	padding-left: 70px;	
}

.sort-options-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}

.sort-option {
	margin-left: 30px;
	padding-top: 2px;
} 

.sort-option:first-child {
	margin-left: 0;
}

.sort-options-list > li:nth-last-child(2) {
	margin-left: auto;
}

.sort-options-list a {
	font-size: 14px;
	font-family: "Open Sans", Arial, sans-serif;
	color: black;
	opacity: 0.3;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 18px;
}

.sort-options-list a:hover {
	opacity: 0.6;
}

.sort-options-list a:active  {
	opacity: 1;
}

.sort-current a {
	opacity: 1;
}

.sort-option {
	display: flex;
}

.sort-option:last-child {
	margin-left: 20px;
}

.sort-option:nth-last-child(1) a,
.sort-option:nth-last-child(2) a {
	position: relative;
}

.sort-option:nth-last-child(1) a::before{
	content: "";
    display: inline-block;
	vertical-align: middle;
    border: 10px solid black;
    border-right-width: 5px;
    border-left-width: 5px;
    border-right-color: transparent;
    border-left-color: transparent;
	border-bottom-width: 0;
}

.sort-option:nth-last-child(2) a::before{
	content: "";
    display: inline-block;
	vertical-align: middle;
    border: 10px solid black;
    border-right-width: 5px;
    border-left-width: 5px;
    border-right-color: transparent;
    border-left-color: transparent;
	border-top-width: 0;
}

.filter-and-goods {
	display: flex;
}

.catalog-form {
	min-width: 330px;
	padding-left: 60px;
	padding-right: 70px;
	font-size: 14px;
	font-family: "Open Sans", Arial, sans-serif;
	letter-spacing: 0.01em;
}

.catalog-form fieldset {
	border: 0;
	border-top: 2px solid black;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

.catalog-form .interactive {
	width: 100%;
	max-width: 200px;
}

fieldset.price {
	margin-top: 69px;
	margin-bottom: 51px;
}

.color-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	
}

fieldset.bluetooth {
	margin-top: 45px;
}

.bluetooth-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-top: 27px;
}

.background-left-bot {
	flex-grow: 1;
	background-color: #efefef;
	display: flex;
	justify-content: flex-end;
}

.background-right-bot {
	flex-grow: 1;
	display: flex;
	justify-content: flex-start;
}

.goods {
	min-width: 830px;
	display: flex;
	flex-flow: column;
}

.goods-list { 
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	margin: 59px 0px 0px 69px;
	flex-wrap: wrap;
	max-width: 760px;
	justify-content: space-between;
}

.goods-item {
	max-width: 360px;
	margin-top: 10px;
}

.goods-menu {
	margin: 0;
	padding: 0;
	position: relative;
}

.goods-menu-caption {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 35px;
	margin-top: 15px;
}

.goods-menu-caption a {
	font-size: 18px;
	font-family: "Gilroy", Arial, sans-serif;
	color: rgb(0, 0, 0);
	font-weight: bold;
	letter-spacing: 0.01em;
	line-height: 24px;
	max-width: 256px;
}

.goods-menu-caption p {
	max-width: 100px;
}

.to-backet, 
.add-to-compare {
	display: none;
}

.new-goods-menu::after {
	content: 'new';
	position: absolute;
	text-transform: uppercase;
	top: 20px;
	right: 20px;
	z-index: 4;
	line-height: 60px;
	width: 60px;
	height: 60px;
	text-align: center;
	border-radius: 50%;
	border: 2px solid black;
	opacity: 0.2;
	font-size: 14px;
	font-family: "Gilroy", Arial, sans-serif;
	letter-spacing: 0.05em;
	font-weight: bold;
}

.goods-menu-img {
	position: relative;
	z-index: 2;
	padding: 0;
	margin: 0;
}

.goods-menu-img:hover::before {
	content: '';
	width: 360px;
	height: 380px;
	background-color: #f2f2f2;
	opacity: 0.7;
	z-index: 3;
	position: absolute;
}

.goods-menu-img:hover .to-backet {
	position: absolute;
	display: block;
	top: 40%;
	left: 50%;
	transform:translateY(-50%);  
	transform:translateX(-50%); 
	z-index: 4;	
	outline: none;
}
	
.goods-menu-img:hover .add-to-compare {
	position: absolute;
	display: block;
	top: 60%;
	left: 50%;
	transform:translateY(-50%);  
	transform:translateX(-50%); 
	z-index: 4;
	outline: none;
}

.add-to-compare {
	border: 0;
	background: 0;
	font-size: 13px;
	font-family: "Open Sans", Arial, sans-serif;
	letter-spacing: 0.01em;
	opacity: 0.5;
	line-height: 20px;
	cursor: pointer;
}

.add-to-compare:hover {
	opacity: 1;
}

.add-to-compare:active {
	opacity: 0.2;
}


.price-value {
	font-size: 16px;
	font-family: "Gilroy", Arial, sans-serif;
	color: rgb(70, 70, 70);
	text-align: right;
	letter-spacing: 0.01em;
	line-height: 24px;
}

.paginaton-btns {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	background-color: #efefef;
	margin: 0 0 77px 69px;
	height: 70px;
}

.paginaton-btns li {
	display: flex;
}

.paginaton-btns a{
	display: flex;
	flex-flow: column;
	justify-content: center;
	font-size: 16px;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	line-height: 24px;
	color: black;
	flex-grow: 1;
}

.page-numbers {
	padding: 0;
	margin: 0;
	list-style: none;
}

.page-numbers a {
	opacity: 0.3;
}

.page-numbers a:hover {
	opacity: 0.6;
}

.page-numbers a:active  {
	opacity: 1;
}

.current-page a {
	opacity: 1;
}

.btn-previos a,
.btn-next a{
	padding: 0 29px;
	position: relative;
}

.btn-previos:hover, 
.btn-next:hover{
	background-color: #d9d9d9;
}

.btn-previos a:active, 
.btn-next  a:active{
	opacity: 0.3;
}

.page-numbers {
	display: flex;
	justify-content: space-between;
}
.page-numbers li {
	margin: 0 15px;
}

.filter h3 {
	font-size: 16px;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.22em;
	line-height: 24px;
}

.filter h4 {
	font-size: 18px;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	letter-spacing: 0.01em;
	line-height: 24px;
	margin-top: 10px;
	margin-bottom: 15px;
}

input[type = 'range'] {
	display: none;
}

.bluetooth-list li {
	margin-top: 25px;
	position: relative;
	margin-left: -5px;
}

.form-radio-label {
	position: relative;
	padding-left: 40px;
	z-index: 10;
	cursor: pointer; 
}

.form-radio-indicator {
    position: absolute;
	border: 4px solid black;
    height: 24px;
    width: 24px;
    border-radius: 50%;    
	left: 5px;
	top: 50%;
	transform: translateY(-50%);
	z-index: -1;
}

.form-radio-text {
	z-index: -1;  
	position: relative;
}

.form-radio-label:before {
/*IE No click hack by covering the element.*/
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	content: '';
}

.form-radio:checked + .form-radio-indicator::before {
	position: absolute;
	content: '';
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: black;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.form-radio:disabled ~ *{
	opacity: 0.25;
}

.form-radio-label:hover  .form-radio:not(:disabled) +.form-radio-indicator {
	opacity: 0.6;
}

.form-radio-label:active  .form-radio:not(:disabled) + .form-radio-indicator {
	opacity: 1;
}

.form-radio-label:active .form-radio:not(:disabled):checked +  .form-radio-indicator::before {
	width: 0;
	height: 0;
}

.form-radio-label:active .form-radio:not(:disabled):not(:checked) +  .form-radio-indicator::before {
	position: absolute;
	content: '';
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: black;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.color-list li {
	margin-top: 25px;
	position: relative;
	margin-left: -5px;
}

.form-checkbox-label {
	position: relative;
	padding-left: 40px;
	z-index: 10;
	cursor: pointer; 
}

.form-checkbox-label:before {
/*IE No click hack by covering the element.*/
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	content: '';
}

.form-checkbox-indicator {
    position: absolute;
	background-image: url('../img/checkbox-off.svg');
	background-repeat: no-repeat;
    height: 23px;
    width: 23px; 
	left: 5px;
	top: 50%;
	transform: translateY(-50%);
	z-index: -1;
}

.form-checkbox-text {
	z-index: -100;
	position: relative;
	z-index: -1;
}

.form-checkbox:checked + .form-checkbox-indicator {
	background-image: url('../img/checkbox-on.svg');
    width: 27px; 
}

.form-checkbox:disabled ~ *, .form-checkbox:disabled{
	opacity: 0.25;
}

.form-checkbox-label:hover  .form-checkbox:not(:disabled) +.form-checkbox-indicator {
	opacity: 0.6;
}

.form-checkbox-label:active  .form-checkbox:not(:disabled) + .form-checkbox-indicator {
	opacity: 1;
}

.form-checkbox-label:active .form-checkbox:not(:disabled):checked +  .form-checkbox-indicator {
	background-image: url('../img/checkbox-off.svg');
    width: 23px; 
}

.form-checkbox-label:active .form-checkbox:not(:disabled):not(:checked) +  .form-checkbox-indicator{
	background-image: url('../img/checkbox-on.svg');
    width: 27px; 
}

.range-filter {
	width: 200px;
	margin-top: 36px;
}

.range-controls {
	position: relative;
	margin-bottom: 15px;
}

.range-controls .scale {
	height: 2px;
	background-color: #dbdbdb;
}

.range-controls .bar {
	position: absolute;
	left: 0%;
	width: 50%;
	height: 2px;
	background: #91c92f;
}

.range-controls .toggle {
	position: absolute;
	left: 0;
	top: -10px;
	width: 0px;
	height: 0px;
	padding: 0;
	transform: translateY(-50%);
	transform: translateX(-50%);
	border: 10px solid #ffffff;
	background-color: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .toggle::before {
	content: '';
	height: 3px;
	width: 3px;
	border-radius: 50%;
	background-color: #ababab;
	position: absolute;
	transform: translate(-50%,-50%);
}

.range-controls .toggle:hover {
	border: 11px solid #ffffff;
}

.range-controls .toggle-min {
	left: 0%;
}

.range-controls .toggle-max {
	left: 50%;
}

.range-controls label {
	width: 75px;
	display: flex;
	font-size: 14px;
	font-family: "Gilroy", Arial, sans-serif;
	position: absolute;
	top: 20px;
	left: -10px;
	opacity: 0.2;
	color: black;
}

.range-controls input {
	width: 50px;
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 14px;
	padding-left: 5px;
	text-align: left;
	color: black;
	background-color: #efefef;
  
	border: none;
}

.toggle-max label {
	transform: translateX(-40%);
}

.max-price {
	text-align: right;
}

.modal {
	display: none;
	position: fixed;
	left: 50%;
	top: 120px;
}

@keyframes bounce {
0% {transform:translateY(-2000px);}
70% {transform:translateY(30px);}
90% {transform:translateY(-10px);}
100% {transform:translateY(0);}
}

.modal-show {
	display: block;
	z-index: 9999;
	animation-name: bounce;
	animation-duration: 0.6s;
	box-shadow: 0 10px 20px 5px rgba(0,0,0,0.2);
}

@keyframes shake {
0%, 100% {transform:translateX(0);}
10%,30%,50%,70%,90% {transform:translateX(-10px);}
20%,40%,60%,80% {transform:translateX(10px);}
}

.modal-error {
	animation-name: shake;
	animation-duration: 0.6s;
}

.modal-map iframe {
	frameborder: 0;
}